body{
	color: white;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: normal;
}
img{
	max-width: 100%;
}
h1{
	font-size: 1.5em;
}
h2{
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1.8em;
}
a:hover{
	color: inherit;
}
.btn:hover{
	color: inherit;
}
/*BACKGROUNDS COLOR*/
.bg-purple1{
	background-color: #69325D;
}
.bg-purple2{
	background-color: #621D56;
}
.bg-icepro{
	background-color: #65CFCD;
}
.bg-white{
	background-color: white;
}
.bg-orange{
	background-color: #FF9468;
}
/*FONT COLOR*/
.white{
	color: white;
}
.black{
	color: black;
}
.green{
	color: #B9E56D;
}
.orange{
	color: #FFC65B;
}
.blue{
	color: #4CC8E1;
}
.icepro-color{
	color: #61D2D0;
}
/*STYLE*/
.bold{
	font-weight: bolder;
}
.light{
	font-weight: lighter;
}
.inline{
	display: inline;
}
/*BUTTONS*/
.btn-secondary{
	border: solid 2px white;
	border-radius: 6px;
	padding: 6px 25px;
}
.btn-cta{
	background-color: #8EC273;
	padding: 12px 80px;
	color: white;
	font-size: 1.2em;
	border-radius: 10px;
	border:2px solid #4E7D31;
	-webkit-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.35);
	box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.35);
}
.btn-cta-bottom{
	border:none;
}
/*PADDINGS / MARGINS*/
.pad-sm{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-md{
	padding-top: 60px;
	padding-bottom: 60px;
}
.pad-lg{
	padding-top: 90px;
	padding-bottom: 90px;
}
.top-20{
	padding-top: 20px;
}
.top-40{
	padding-top: 40px;
}
.top-60{
	padding-top: 60px;
}
.top-80{
	padding-top: 80px;
}
.top-100{
	padding-top: 100px;
}
/*CONTENT*/
.main{
	min-height: 100vh;
	background: url(../images/bg-main.jpg) left bottom;
	background-size: cover;
	position: relative;
}
.point{
	position: absolute;
	right: 0;
	bottom: 330px;
}
.main p{
	/*letter-spacing: .04em;*/
}
.steps span{
	padding: 0 10px;
}

.icepro{
	padding-top: 70px;
	padding-bottom: 70px;
	background: url(../images/bg-icepro.jpg) right bottom no-repeat;
	background-color: white;
	position: relative;
}
.icepro h4{
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 1px;
}
.icepro .discover{
	font-size: 1.3em;
}
.camera{
	position: absolute;
	bottom: 0;
	right: 0;
}
.link{
	font-size: 1.2em;
}
.link:hover{
	color: #7F396D;
}
.colaboradora{
	background: url(../images/bg-colaboradora.jpg) center bottom;
	background-size: cover;
	min-height: 760px;
	padding-top: 70px;
}

.fese{
	background: url(../images/bg-fese.jpg);
	background-size: cover;
	position: relative;
	min-height: 540px;
	padding-top: 80px;
	padding-bottom: 60px;
}
.astronaut{
	position: absolute;
	bottom: 0;
	right: 150px;
}
.final{
	padding-top: 100px;
	padding-bottom: 90px;
	position: relative;
}
.handshake{
	left: 0;
	bottom: 0;
	position: absolute;
}

footer{
	background-color: #303F46;
	padding-top: 40px;
	padding-bottom: 35px;
}
footer a{
	color: white;
	display: block;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 1px;
	max-width: 200px;
}
footer .social a{
	display: inline-block;
	padding-right: 10px;
}
footer .social a:hover{
	opacity: .8;
}

@media screen and (max-width: 1440px) {
    .camera{
    	height: 700px;
    }
}
@media screen and (max-width: 1280px) {
    .camera{
    	height: 600px;
    }
    .astronaut{
    	right: 20px;
    }
    .point{
    	top: 380px;
    }
}
@media screen and (max-width: 991px) {
    .point{
    	top: 506px;
    }
    .icepro{
    	background: white;
    	text-align: center;
    }
    .camera{
    	display: none;
    }
    .icepro-cta{
    	text-align: center;
    }
    .fese-content{
    	padding-bottom: 180px;
    }
    .astronaut{
    	height: 210px;
    }
}
@media screen and (max-width: 768px) {
	.point{
    	top: 436px;
    }
    .features img{
    	margin-top: 20px;
    }
    .social{
    	text-align: left;
    }
}
@media screen and (max-width: 640px) {
	.point{
    	top: 726px;
    }
    .steps span {
     padding: 0 3px; 
	}
}